@model MContract.Models.UserDealCardViewModel

@{ ViewBag.Title = "Контракт №" + Model.Ad.Id;
    Layout = "~/Views/Shared/_LayoutWithoutNav.cshtml"; }

@section Styles{
    <link href="@Url.Content("~/css/User/DealCard.css")?p=20200715" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/dealcard.css")?p=20200715" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/lk-layout.css")?p=2020-10-10-a" rel="stylesheet" type="text/css" />

    <link href="~/js/jquery-ui/jquery-ui.css?p=202006112" rel="stylesheet" type="text/css" />
}
@{ var personalAreaUser = ViewBag.L.PersonalAreaUser != null ? (MContract.Models.User)ViewBag.L.PersonalAreaUser : null; @*if (personalAreaUser != null)
        {
            Html.RenderPartial("_PersonalAreaOld", personalAreaUser);
        }*@ var counteragent = Model.Seller?.Id == ViewBag.L.PersonalAreaUser?.Id ? Model.Buyer : Model.Seller; }


<section class="header-pc">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-4">
                <div class="offer__title">
                    <h1>Личный кабинет</h1>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-7">
                <div class="offer__open">
                    <div class="open">
                        История сделок
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md col-lg-1 mobile-first">
                <div class="product__crumbs">
                    <span class="page"><a href="@ViewBag.L.SiteUrlClear">Главная</a></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lk__main__wrapper">
    <div class="container">
        <div class="row">
            @{ Html.RenderPartial("_PersonalArea", Model.PersonalAreaUser); }
            <div class="col-sm-12 deal__wrapper col-md-12 col-lg-9">
                <div class="mainPrintContainer">
                    <div class="col-sm-12">
                        <div class="c__offer-title" style="background-color: gainsboro; font-size: large">
                            <div class="contract">Контракт № @Model.Ad.Id</div>
                            <div class="info">(@Model.DealDirection)</div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="font-size: larger">
                        <table class="offer__about" style="margin-top: 15px">
                            <tr class="offer__about-item">
                                <td class="title">Дата сделки:</td>
                                <td class="text">@Model.DealDate.ToShortDateString()</td>
                            </tr>
                            <tr class="offer__about-item">
                                <td class="title">Покупатель:</td>
                                @{ var buyerStartA = Model.Buyer.Id != personalAreaUser.Id ? "<a href=\"" + Model.Buyer.Url + "\">" : "";
                                    var buyerEndA = Model.Buyer.Id != personalAreaUser.Id ? "</a>" : ""; }
                                <td class="text">
                                    @Html.Raw(buyerStartA)
                                    @Model.Buyer.CompanyNameWithTypeOfOwnership, @Model.Buyer.Town.NameAndRegionNameWithComma
                                    @Html.Raw(buyerEndA)
                                </td>
                            </tr>
                            <tr class="offer__about-item">
                                <td class="title">Продавец:</td>
                                @{ var sellerStartA = Model.Seller.Id != personalAreaUser.Id ? "<a href=\"" + Model.Seller.Url + "\">" : "";
                                    var sellerEndA = Model.Seller.Id != personalAreaUser.Id ? "</a>" : ""; }
                                <td class="text">
                                    @Html.Raw(sellerStartA)
                                    @Model.Seller.CompanyNameWithTypeOfOwnership, @Model.Seller.Town.NameAndRegionNameWithComma
                                    @Html.Raw(sellerEndA)
                                </td>
                            </tr>
                            @*<tr>
                                    <td>Место фактического нахождения груза:&nbsp;</td>
                                    <td>@Model.Ad.City.NameAndRegionNameWithComma</td>
                                </tr>*@
                            <tr class="offer__about-item">
                                <td class="title">Условия поставки:</td>
                                <td class="text">@Model.DeliveryType</td>
                            </tr>
                            <tr class="offer__about-item">
                                <td class="title">Погрузка:</td>
                                <td class="text">@Model.DeliveryLoadType</td>
                            </tr>
                            <tr class="offer__about-item">
                                <td class="title">Способ доставки:</td>
                                <td class="text">@Model.DeliveryWay</td>
                            </tr>
                            <tr class="offer__about-item">
                                <td class="title">Цена:</td>
                                <td class="text">@Model.Nds</td>
                            </tr>
                            <tr class="offer__about-item">
                                <td class="title">Условия оплаты:</td>
                                @{ var termsOfPayments =
                                                       Model.ContractOffer.DefermentPeriod > 0 ?
                                                       Model.TermsOfPayments + " (" + Model.ContractOffer.DefermentPeriod.ToString() + " календарн.дн.)" :
                                                       Model.TermsOfPayments; }
                                <td class="text">
                                    @Html.Raw(termsOfPayments)
                                </td>
                            </tr>
                            <tr class="offer__about-item">
                                <td class="title">Цена действительна до:&nbsp;&nbsp;&nbsp;</td>
                                <td class="text">@Model.ActiveUntilDate.ToShortDateString() 23:59 (МСК)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <table class="offer__position-table" border="1">
                            <thead>
                                <tr style="background-color: gainsboro; font-weight: bold">
                                    <td>№</td>
                                    <td>Категория товара</td>
                                    <td>Вес (тн.)</td>
                                    <td>Валюта</td>
                                    <td>Цена за 1 тн. (минимальная)</td>
                                    <td>Цена за 1 тн. (предложение)</td>
                                    <td>Цена за всю позицию (предложение)</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int rowNum = 0;
                                    float sumTotal = 0; }
                                @foreach (var adProduct in Model.Ad.Products)
                                {
                                    rowNum++;
                                    var currency = adProduct.Currency == MContract.Models.Enums.Currencies.Dollar ? "Доллар" : "Рубль";
                                    var pricePerWeight = adProduct.PricePerWeight > 0 ? adProduct.PricePerWeight.ToString() : "Не указано";
                                    string pricePerWeightOffer = "Не указано";
                                    var priceForWholePositionStr = "Не указано";
                                    if (adProduct.OfferProduct != null)
                                    {
                                        pricePerWeightOffer = adProduct.OfferProduct.PricePerWeight.ToString();
                                        var priceForWholePosition = adProduct.Weight * adProduct.OfferProduct.PricePerWeight;
                                        priceForWholePositionStr = priceForWholePosition.ToString();
                                        sumTotal += priceForWholePosition;
                                    }
                                    <tr>
                                        <td>@rowNum</td>
                                        <td>@adProduct.ProductCategoryName</td>
                                        <td>@adProduct.Weight</td>
                                        <td>@currency</td>
                                        <td>@pricePerWeight</td>
                                        <td>@pricePerWeightOffer</td>
                                        <td>@priceForWholePositionStr</td>
                                    </tr>
                                }
                                <tr style="font-weight: bold">
                                    <td></td>
                                    <td>Итого:</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@sumTotal</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <div class="offer__description">
                            <div class="tab">
                                <input id="tab-one" type="checkbox" name="tabs">
                                <label for="tab-one" id="switchDescriptionVisibilityButton" style="cursor: pointer" onclick="switchDescriptionVisibility()">Описание</label>
                                <div class="tab-content">
                                    @{ var description = !String.IsNullOrWhiteSpace(Model.Ad.Description) ? Model.Ad.Description : "Не указано"; }
                                    <div id="descriptionDiv" style="background-color: gainsboro; word-wrap: break-word; width: 60%">
                                        <p>
                                            @description
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="noPrintContainer">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <div class="counter__info-wrapper extraPrintContainer">
                                        <div class="counter-image">
                                            <img src="../images/counter-accepted.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-5">
                                    <div class="rate__counter-block">
                                        <div class="title">
                                            Оцените контрагента:
                                        </div>
                                        <div class="rate ratingOptionsContainer" value="@counteragent.Rating">
                                            <div class="ratingOption" value="1">★</div>
                                            <div class="ratingOption" value="2">★</div>
                                            <div class="ratingOption" value="3">★</div>
                                            <div class="ratingOption" value="4">★</div>
                                            <div class="ratingOption" value="5">★</div>
                                        </div>
                                        <div class="rules-block">
                                            <div class="rules-title">
                                                <a href="~/User/RateRules"> Правила оценки </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="rate__btns-block">
                                        <a href="#" class="removeFromDealsHistory rate-btn rate-delete">Удалить из истории сделок</a>
                                        <a href="#" class="sendMessageToCounteragent rate-btn">
                                            Отправить сообщение
                                            @(Model.Seller?.Id == ViewBag.L.PersonalAreaUser?.Id
                                ? "покупателю"
                                : "продавцу")
                                        </a>
                                        <a href="#" class="printDeal rate-btn">Распечатать</a>
                                        <a href="javascript:void(null);" class="sendToEmail rate-btn" id="showEmailDiv">Отправить на E-Mail</a>
                                        <input id="filePdf" type="hidden" value="@ViewBag.FilePDF">
                                        <input id="history" type="hidden" value="Контракт № @Model.Ad.Id (@Model.DealDirection)">
                                        <div class="col-sm-12" id="sendEmailDiv">
                                            <div class="row">
                                                <table style="width:50%" class="offer__position-table">
                                                    <tbody>
                                                        <tr class="offer__position-item">
                                                            <td class="title">Ваш E-mail:</td>
                                                        </tr>
                                                        <tr class="offer__position-item">
                                                            <td class="text"> <input id="emailUser" value="@Model.PersonalAreaUser.Email" style="background-color: transparent; border-bottom: 1px solid #808080; border-top:0px; border-left:0px; border-right:0px; margin-left:10px;" /></td>
                                                        </tr>
                                                        <tr class="offer__position-item">
                                                            <td class="title"><span>Дополнительный E-mail:</span></td>
                                                        </tr>
                                                        <tr class="offer__position-item">
                                                            <td class="text"><input id="emailUserNew" type="text" style="background-color: transparent; border-bottom: 1px solid #808080; border-top: 0px; border-left: 0px; border-right: 0px; margin-left: 10px; " /></td>
                                                        </tr>
                                                        <tr class="offer__position-item">
                                                            <td class="title"><a id="sendEmail" href="javascript:void(null);">ОТПРАВИТЬ</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        //============================================= krakoss 20201028 ============================== //
        $("#sendEmailDiv").hide(); $("#descriptionDiv").hide();
         //============================================= END krakoss 20201028 ============================== //
        $(".removeFromDealsHistory").on("click", function () {
            if (!confirm('Информация об этой сделке будет удалена без возможности восстановления. Вы подтверждаете это?'))
                return;
            var adId = @(Model.Ad?.Id);
            var offerId = @(Model.ContractOffer?.Id);
            $.post("@ViewBag.L.SiteUrlClear/User/RemoveDealFromDealsHistory", {
                adId: adId,
                offerId: offerId
            })
                .done(function (data) {
                    if (data.toLowerCase() == "true")
                        location.href = "@ViewBag.L.SiteUrlClear/User/DealsHistory";
                    })
        });
        $(".sendMessageToCounteragent").on("click", function () {
            var respondentId = @(counteragent?.Id);
            var lastPageUrl = encodeURIComponent(location.href);
            location.href = `@ViewBag.L.SiteUrlClear/User/Messages?respondentId=${respondentId}&lastPageUrl=${lastPageUrl}`;
        });
        $(".printDeal").on("click", function () {
            var printContainerClone = $(".mainPrintContainer").clone();
            $(printContainerClone).find(".noPrintContainer").remove();
            var htmlToPrint = $(printContainerClone).html();
            $(".extraPrintContainer").each(function () {
                htmlToPrint += this.outerHTML;
            });
            console.log(htmlToPrint);
            var windowToPrint = window.open();
            windowToPrint.document.open("text/html");
            windowToPrint.document.write(htmlToPrint);
            windowToPrint.document.close();
            windowToPrint.focus();
            windowToPrint.print();
            windowToPrint.close();
        });
        var ratingIsSet = false;
        $(".ratingOptionsContainer").on("mouseenter", ".ratingOption", function () {
            if (ratingIsSet == false) {
                var highlightedOptions = $(this).prevAll(".ratingOption").add(this);
                $(highlightedOptions).css("color", "gold");
            }
        });
        $(".ratingOptionsContainer").on("mouseleave", ".ratingOption", function () {
            if (ratingIsSet == false) {
                $(".ratingOptionsContainer .ratingOption").css("color", "");
            }
        });
        var setRating = $(".ratingOptionsContainer").attr("value")
        if (setRating > 0)
            $(`.ratingOptionsContainer .ratingOption[value=${setRating}]`).trigger("mouseenter");
        ratingIsSet = setRating > 0;
        $(".ratingOptionsContainer").on("click", ".ratingOption", function () {
            if (ratingIsSet == false) {
                var userId = @counteragent.Id;
                var rating = $(this).attr("value");
                var adId = @Model.Ad.Id;
                $.post("@ViewBag.L.SiteUrlClear/User/AddUserRating", {
                    userId: userId,
                    rating: rating,
                    adId: adId
                })
                    .done(function (data) {
                        if (data.toLowerCase() == "true") {
                            alert("Оценка сохранена!");
                            $(`.ratingOptionsContainer .ratingOption[value=${rating}]`).trigger("mouseenter");
                            ratingIsSet = true;
                        } else {
                            alert("Произошла ошибка. Оценка не была сохранена. Попробуйте позже.");
                        }
                    });
            }
        });
	});
	function switchDescriptionVisibility() {
		var descriptionDiv = $('#descriptionDiv');
		var switchDescriptionVisibilityButton = $('#switchDescriptionVisibilityButton');
		if (descriptionDiv.is(":visible")) {
			descriptionDiv.hide();
			switchDescriptionVisibilityButton.html('Описание');
		}
		else {
			descriptionDiv.show();
			switchDescriptionVisibilityButton.html('Описание');
		}
    }
 //===================== krakoss 20201030 ===========================================//
    $("#showEmailDiv").on('click', function () {
        var sendEmailDiv = $('#sendEmailDiv');
        if (sendEmailDiv.is(":visible")) {
            sendEmailDiv.hide();
        }
        else {
            sendEmailDiv.show();
        }
    });


    $("#sendEmail").on('click', function () {
        sendFilePdfToEmailAndDeleteFile();
    });
   function sendFilePdfToEmailAndDeleteFile() {
        //if (!checkEmal())
        //    return;

        var _adId = @(Model.Ad.Id);

        var _emailUser = $("#emailUser").val();

        var _emailUserNew = $("#emailUserNew").val();

        var _history = $("#history").val();

        var sendEmailDiv = $('#sendEmailDiv');

        $.ajax('/User/SendFilePdfToEmail',
            {
                type: 'POST',
                data: { adId: _adId, emailUser: _emailUser, emailUserNew: _emailUserNew, history: _history },
                success: function (data) {
                    alert(data);
                    sendEmailDiv.hide();
                },
            });
    };

</script>
