@model MContract.Models.UserDialogsViewModel

@{
    ViewBag.Title = ViewBag.Heading;
    Layout = "~/Views/Shared/_LayoutOld.cshtml";
}

@section Styles{
    <link href="@Url.Content("~/css/User/Dialogs.css")?p=202006112" rel="stylesheet" type="text/css" />
}

<div class="dialogsContainer">
    @{
        if (!Model.Dialogs.Any())
        {
            <p>Пока нет диалогов</p>
        }
        else
        {
            foreach (var dialog in Model.Dialogs)
            {
                var dialogUrl = ViewBag.L.SiteUrlClear + "/User/Messages?respondentId=" + dialog.Respondent?.Id;
                <a href="@dialogUrl" class="singleDialogContainer
                   @(dialog.Messages.Last().SenderId != Model.PersonalAreaUser?.Id && !dialog.Messages.Last().IsRead
                       ? "unread"
                       : ""
                   )
                   ">
                    <img src=@(dialog.Respondent?.LogoGroup.Any() == true ? dialog.Respondent?.GetBestFitLogoPhoto(200).Url : "/Images/NoLogo.png") class="respondentLogo" />
                    <div class="textContainer">
                        <h4 class="respondentName">
                            @(dialog.Respondent?.IsSystemNotifications == true
                                ? dialog.Respondent?.CompanyName
                                : dialog.Respondent?.CompanyNameWithTypeOfOwnership
                            )@*
                            *@@(dialog.Respondent?.Town != null
                                ? dialog.Respondent?.Town.RegionName.Contains(dialog.Respondent?.Town.Name) == true
                                    ? ", " + dialog.Respondent?.Town.Name
                                    : ", " + dialog.Respondent?.Town.NameAndRegionName
                                : ""
                            )
                        </h4>
                        @*@if (dialog.DialogType == MContract.Models.Enums.DialogTypes.Ad)
                            {
                                <h5 class="adName">
                                    @(dialog.Ad != null ? dialog.Ad.Name : "")
                                </h5>
                            }*@
                        <p class="messagePreview">
                            @dialog.Messages.Last().Text
                        </p>
                        <p class="dateTimeOfLastMessage">
                            @dialog.Messages.Last().Date.ToString("o")
                        </p>
                    </div>
                </a>
            }
        }
    }
</div>

<script src="~/js/user/replaceIsoDateWithLocalDate.js?p=20200714" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        replaceIsoDateTimeWithLocalDateTime($(".dateTimeOfLastMessage"));
    });
</script>