
@{
	ViewBag.Title = "Помощь";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@ViewBag.L.SiteUrlClear/css/regulations.css?p=2020-10-10-a">
<link rel="stylesheet" href="@ViewBag.L.SiteUrlClear/css/help.css?p=2020-10-10-a">

<main>
	<section class="offer__wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3 order-md-4 mobile-first">
					<div class="product__crumbs">
						<span class="page"><a href="@ViewBag.L.SiteUrlClear">Главная</a></span>
						<span class="page page-sel">Помощь</span>
					</div>
				</div>
				<div class="col-sm-12 col-md-9">
					<div class="offer__title">
						<h1>Помощь</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="rule__select-block">
						<div class="rule__btn">
							<span class="help">
								Выберите тему вопроса
							</span>
							<div class="ico">

							</div>
						</div>
						<div class="rule__select closed">
							<span class="rule__select-item r-lk">Личный кабинет</span>
							<span class="rule__select-item r-of selected">Объявления</span>
							<span class="rule__select-item r-hp">Раздел помощи</span>
							<span class="rule__select-item r-hp-2">Раздел помощи</span>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="help__wrapper">
						<div class="help__new-user">
							<div class="ico">

							</div>
							<div class="text">
								Частые вопросы
							</div>
						</div>
						<div class="help__block">
							<div class="tab">
								<input type="checkbox" id="tab1" name="tab-group">
								<label for="tab1" class="tab-title">
									<span class="num">
										1.
									</span>
									<span>Заголовок вопроса по тематике раздела</span>
								</label>
								<section class="tab-content">
									<p>
										При клике по заголовку или иконке
										справа, разскрывается теск с
										содержимым по данному вопросу.  В
										данный момент - это просто
										произвольный набор слов для образца
										и показа <span class="blue">стиля</span> элементов этого блока (
										размер шрифта, отступы и прочее).

										Задача  связать продавца и покупателя
										и  автоматизировать процесс
										заключения сделки. Тем  самым  уйти
										от длительных  переговоров по
										телефону  и дублирования одной и той
										же информации, расширить рынок
										участия  для каждого пользователя.
										Это и есть основная задача проекта.
										По  мимо  компьютерной, также нужно
										будет продумать  мобильную  версию
										сайта. Во вложении презентация в
										которой описаны основные моменты,
										также скину пример <span class="blue">оформления</span>
										который понравился (не сайт), от туда
										можно взять  какие
									</p>
								</section>
							</div>
							<div class="tab">
								<input type="checkbox" id="tab2" name="tab-group">
								<label for="tab2" class="tab-title">
									<span class="num">
										2.
									</span>
									<span>Заголовок вопроса по тематике раздела</span>
								</label>
								<section class="tab-content">
									<p>
										При клике по заголовку или иконке
										справа, разскрывается теск с
										содержимым по данному вопросу.  В
										данный момент - это просто
										произвольный набор слов для образца
										и показа <span class="blue">стиля</span> элементов этого блока (
										размер шрифта, отступы и прочее).

										Задача  связать продавца и покупателя
										и  автоматизировать процесс
										заключения сделки. Тем  самым  уйти
										от длительных  переговоров по
										телефону  и дублирования одной и той
										же информации, расширить рынок
										участия  для каждого пользователя.
										Это и есть основная задача проекта.
										По  мимо  компьютерной, также нужно
										будет продумать  мобильную  версию
										сайта. Во вложении презентация в
										которой описаны основные моменты,
										также скину пример <span class="blue">оформления</span>
										который понравился (не сайт), от туда
										можно взять  какие
									</p>
								</section>
							</div>
							<div class="tab">
								<input type="checkbox" id="tab3" name="tab-group">
								<label for="tab3" class="tab-title">
									<span class="num">
										3.
									</span>
									<span>Заголовок вопроса по тематике раздела</span>
								</label>
								<section class="tab-content">
									<p>
										При клике по заголовку или иконке
										справа, разскрывается теск с
										содержимым по данному вопросу.  В
										данный момент - это просто
										произвольный набор слов для образца
										и показа <span class="blue">стиля</span> элементов этого блока (
										размер шрифта, отступы и прочее).

										Задача  связать продавца и покупателя
										и  автоматизировать процесс
										заключения сделки. Тем  самым  уйти
										от длительных  переговоров по
										телефону  и дублирования одной и той
										же информации, расширить рынок
										участия  для каждого пользователя.
										Это и есть основная задача проекта.
										По  мимо  компьютерной, также нужно
										будет продумать  мобильную  версию
										сайта. Во вложении презентация в
										которой описаны основные моменты,
										также скину пример <span class="blue">оформления</span>
										который понравился (не сайт), от туда
										можно взять  какие
									</p>
								</section>
							</div>
							<div class="tab">
								<input type="checkbox" id="tab4" name="tab-group">
								<label for="tab4" class="tab-title">
									<span class="num">
										4.
									</span>
									<span>Заголовок вопроса по тематике раздела</span>
								</label>
								<section class="tab-content">
									<p>
										При клике по заголовку или иконке
										справа, разскрывается теск с
										содержимым по данному вопросу.  В
										данный момент - это просто
										произвольный набор слов для образца
										и показа <span class="blue">стиля</span> элементов этого блока (
										размер шрифта, отступы и прочее).

										Задача  связать продавца и покупателя
										и  автоматизировать процесс
										заключения сделки. Тем  самым  уйти
										от длительных  переговоров по
										телефону  и дублирования одной и той
										же информации, расширить рынок
										участия  для каждого пользователя.
										Это и есть основная задача проекта.
										По  мимо  компьютерной, также нужно
										будет продумать  мобильную  версию
										сайта. Во вложении презентация в
										которой описаны основные моменты,
										также скину пример <span class="blue">оформления</span>
										который понравился (не сайт), от туда
										можно взять  какие
									</p>
								</section>
							</div>
							<div class="tab">
								<input type="checkbox" id="tab5" name="tab-group">
								<label for="tab5" class="tab-title">
									<span class="num">
										5.
									</span>
									<span>Заголовок вопроса по тематике раздела</span>
								</label>
								<section class="tab-content">
									<p>
										При клике по заголовку или иконке
										справа, разскрывается теск с
										содержимым по данному вопросу.  В
										данный момент - это просто
										произвольный набор слов для образца
										и показа <span class="blue">стиля</span> элементов этого блока (
										размер шрифта, отступы и прочее).

										Задача  связать продавца и покупателя
										и  автоматизировать процесс
										заключения сделки. Тем  самым  уйти
										от длительных  переговоров по
										телефону  и дублирования одной и той
										же информации, расширить рынок
										участия  для каждого пользователя.
										Это и есть основная задача проекта.
										По  мимо  компьютерной, также нужно
										будет продумать  мобильную  версию
										сайта. Во вложении презентация в
										которой описаны основные моменты,
										также скину пример <span class="blue">оформления</span>
										который понравился (не сайт), от туда
										можно взять  какие
									</p>
								</section>
							</div>
							<div class="tab">
								<input type="checkbox" id="tab6" name="tab-group">
								<label for="tab6" class="tab-title">
									<span class="num">
										6.
									</span>
									<span>Заголовок вопроса по тематике раздела</span>
								</label>
								<section class="tab-content">
									<p>
										При клике по заголовку или иконке
										справа, разскрывается теск с
										содержимым по данному вопросу.  В
										данный момент - это просто
										произвольный набор слов для образца
										и показа <span class="blue">стиля</span> элементов этого блока (
										размер шрифта, отступы и прочее).

										Задача  связать продавца и покупателя
										и  автоматизировать процесс
										заключения сделки. Тем  самым  уйти
										от длительных  переговоров по
										телефону  и дублирования одной и той
										же информации, расширить рынок
										участия  для каждого пользователя.
										Это и есть основная задача проекта.
										По  мимо  компьютерной, также нужно
										будет продумать  мобильную  версию
										сайта. Во вложении презентация в
										которой описаны основные моменты,
										также скину пример <span class="blue">оформления</span>
										который понравился (не сайт), от туда
										можно взять  какие
									</p>
								</section>
							</div>
							<div class="tab">
								<input type="checkbox" id="tab7" name="tab-group">
								<label for="tab7" class="tab-title">
									<span class="num">
										7.
									</span>
									<span>Заголовок вопроса по тематике раздела</span>
								</label>
								<section class="tab-content">
									<p>
										При клике по заголовку или иконке
										справа, разскрывается теск с
										содержимым по данному вопросу.  В
										данный момент - это просто
										произвольный набор слов для образца
										и показа <span class="blue">стиля</span> элементов этого блока (
										размер шрифта, отступы и прочее).

										Задача  связать продавца и покупателя
										и  автоматизировать процесс
										заключения сделки. Тем  самым  уйти
										от длительных  переговоров по
										телефону  и дублирования одной и той
										же информации, расширить рынок
										участия  для каждого пользователя.
										Это и есть основная задача проекта.
										По  мимо  компьютерной, также нужно
										будет продумать  мобильную  версию
										сайта. Во вложении презентация в
										которой описаны основные моменты,
										также скину пример <span class="blue">оформления</span>
										который понравился (не сайт), от туда
										можно взять  какие
									</p>
								</section>
							</div>
							<div class="tab">
								<input type="checkbox" id="tab8" name="tab-group">
								<label for="tab8" class="tab-title">
									<span class="num">
										8.
									</span>
									<span>Заголовок вопроса по тематике раздела</span>
								</label>
								<section class="tab-content">
									<p>
										При клике по заголовку или иконке
										справа, разскрывается теск с
										содержимым по данному вопросу.  В
										данный момент - это просто
										произвольный набор слов для образца
										и показа <span class="blue">стиля</span> элементов этого блока (
										размер шрифта, отступы и прочее).

										Задача  связать продавца и покупателя
										и  автоматизировать процесс
										заключения сделки. Тем  самым  уйти
										от длительных  переговоров по
										телефону  и дублирования одной и той
										же информации, расширить рынок
										участия  для каждого пользователя.
										Это и есть основная задача проекта.
										По  мимо  компьютерной, также нужно
										будет продумать  мобильную  версию
										сайта. Во вложении презентация в
										которой описаны основные моменты,
										также скину пример <span class="blue">оформления</span>
										который понравился (не сайт), от туда
										можно взять  какие
									</p>
								</section>
							</div>
							<div class="tab">
								<input type="checkbox" id="tab9" name="tab-group">
								<label for="tab9" class="tab-title">
									<span class="num">
										9.
									</span>
									<span>Заголовок вопроса по тематике раздела</span>
								</label>
								<section class="tab-content">
									<p>
										При клике по заголовку или иконке
										справа, разскрывается теск с
										содержимым по данному вопросу.  В
										данный момент - это просто
										произвольный набор слов для образца
										и показа <span class="blue">стиля</span> элементов этого блока (
										размер шрифта, отступы и прочее).

										Задача  связать продавца и покупателя
										и  автоматизировать процесс
										заключения сделки. Тем  самым  уйти
										от длительных  переговоров по
										телефону  и дублирования одной и той
										же информации, расширить рынок
										участия  для каждого пользователя.
										Это и есть основная задача проекта.
										По  мимо  компьютерной, также нужно
										будет продумать  мобильную  версию
										сайта. Во вложении презентация в
										которой описаны основные моменты,
										также скину пример <span class="blue">оформления</span>
										который понравился (не сайт), от туда
										можно взять  какие
									</p>
								</section>
							</div>
						</div>
						<div class="help__quest-wrapper">
							<div class="info">
								<div class="title">
									Служба поддержки
								</div>
								<div class="text">
									Если Вы не нашли ответа на свой
									вопрос, напишите нам в службу
									поддержки. В кратчайшие сроки мы
									ответим Вам и найдём одходящее
									решение.
								</div>
							</div>
							<div class="btn-wrapper">
								<a href="@ViewBag.L.SiteUrlClear/User/Feedback" class="m-btn order">Задать вопрос</a>
								<a href="tel:+79877771409" class="m-btn tel">
									<div class="ico">

									</div>
									<span>+7 (987) 777-14-09</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<script src="@ViewBag.L.SiteUrlClear/js/help.js"></script>