@model MContract.Models.User

@{
    ViewBag.Title = ViewBag.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMessage = Model.ErrorMessage;
}

@section Styles{
    <link href="@Url.Content("~/css/log-in.css")?p=2020-10-10-a" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Вход-->
    <section class="log__page__wrapper">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>Вход</h1>
                </div>
            </div>

            <!-- Form inputs -->
            <form action="">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="status-of-log">
                            @if (errorMessage != null && errorMessage.Contains("пароль"))
                            {
                                <img src="" onerror="checkPassword();">
                                <div class="false-pas" id="divPassword">
                                    Неправильный Пароль
                                </div>
                            }
                            @if (errorMessage != null && errorMessage.Contains("e-mail"))
                            {
                                <img src="" onerror="checkEmail();">
                                <div class="false-mail">
                                    Пользователь с данным e-mail не найден, проверьте правильность ввода или <a href="@ViewBag.L.SiteUrlClear/registration">зарегистрируйтесь</a>
                                </div>
                            }
                            @if (errorMessage != null && errorMessage.Contains("повторно?"))
                            {
                                <div class="false-mail" id="divReSendEmail">
                                    Вы не подтвердили Ваш E-Mail. <br />
                                    Отправить письмо подтверждения повторно?
                                    <br />
                                    <button id="btnReSendEmail" type="button" href="#" class="btn"> <span>ДА</span> </button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-sm-12 col-md-6 input__col">
                        <div class="input__wrapper letter-padding-desktop">
                            <label for="email">Логин</label>
                            <input type="email" id="email" placeholder="E-Mail" name="email" value="@Model.Email" />
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-sm-12 col-md-6 input__col">
                        <div class="input__wrapper letter-padding-desktop">
                            <label for="password">Пароль</label>
                            <input type="password" id="password" name="password" />
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <!-- // Form inputs -->

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-sm-12 col-md-6 input__col">
                        <div class="input__wrapper">
                            <span class="input__forgot" id="spanReSendPassword">Забыли пароль?</span>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-sm-12 col-md-6 input__col">
                        <div class="input__wrapper btn__wrapper">
                            <button type="submit" href="#" class="btn btn_log-in" onclick="return checkFields();"> <span>Войти</span> </button>
                            <a href="@ViewBag.L.SiteUrlClear/registration" class="btn btn_reg">Регистрация</a>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
    </section>
    <!-- // Вход-->
}
<script>
    // изменения вида input => email && password
    $(function () {
        $("#email").on('focus', function () {
            focusEmail();
        });
        $("#password").on('focus', function () {
            focusPassword();
        });
    });
    function focusEmail() {
        $("#email").css('border', 'solid 1px #2b8ff1');
    }
    function focusPassword() {
        $("#password").css('border', 'solid 1px #2b8ff1');
    }

    // best
    function checkPassword() {
        $("#password").css('border', 'solid 1px #e060f6');
    }
    function checkEmail() {
        $("#email").css('border', 'solid 1px #e060f6');
    }

    function checkFields() {
        var result = true;
        if ($('#email').val().length == 0) {
            $('#emailRequired').show();
            $("#email").css('border', 'solid 1px #e060f6');
            result = false;
        }
        else
            $('#emailRequired').hide();

        if ($('#password').val().length == 0) {
            $('#passwordRequired').show();
            $("#password").css('border', 'solid 1px #e060f6');
            result = false;
        }
        else
            $('#passwordRequired').hide();

        return result;
    }
    //==   Лучшее решение состоит в том, чтобы создать слушатель события, вместо того, чтобы вставлять обработчик в строку ====== //
    $(function () {
        $("#btnReSendEmail").click(function () {
            reVerificationEmail();
        });
        $("#spanReSendPassword").click(function () {
            reSendPassword();
        });
    });
    function reVerificationEmail() {
        $.ajax('/User/Resendemail',
            {
                type: 'POST',
                data: { 'email': $("#email").val() },
                success: function () {
                    alert("Письмо подтверждения отправлено повторно. Для завершения регистрации перейдите по ссылке, указанной в письме.");
                    $('#divReSendEmail').hide();
                },
            });
    };
    function reSendPassword() {

        $.ajax('/User/Resendpassword',
            {
                type: 'POST',
                data: { 'email': $("#email").val() },
                success: function (data) {
                    alert(data);
                },
            });
    };
</script>