@model MContract.Models.User

@{
    ViewBag.Title = ViewBag.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
	<link href="@Url.Content("~/css/User/Login.css")?p=2020-07-03" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		@if (Model.ErrorMessage != null)
		{
			<div class="errorLoginMessage">
				@Html.Raw(Model.ErrorMessage)
			</div>
		}

		<div class="form-group">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input id="email" type="email" name="Email" class="form-control" value="@Model.Email" />
				<span id="emailRequired" class="needFieldSpan">Email - обязательное поле</span>
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input id="password" type="password" name="Password" class="form-control" />
				<span id="passwordRequired" class="needFieldSpan">Пароль - обязательное поле</span>
			</div>
		</div>

		<table style="width: 100%">
			<tr>
				<td style="width: 50%; text-align: center">
					<input type="submit" value="Войти" onclick="return checkFields()" class="btn btn-primary" />
				</td>
				<td style="width: 50%">
					<a href="@ViewBag.L.SiteUrlClear/registration">Регистрация</a>
				</td>
			</tr>
		</table>
	</div>
}

<script type="text/javascript">
	function checkFields() {
		var result = true;
		if ($('#email').val().length == 0) {
			$('#emailRequired').show();
			result = false;
		}
		else
			$('#emailRequired').hide();

		if ($('#password').val().length == 0) {
			$('#passwordRequired').show();
			result = false;
		}
		else
			$('#passwordRequired').hide();

		return result;
	}
</script>