
@{
    ViewBag.Title = "Задать новый пароль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="@Url.Content("~/css/User/Login.css")?p=2020-08-16_21-55" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/User/Signup.css")?p=2020-08-16_21-55" rel="stylesheet" type="text/css" />
}

<h2>@ViewData["tempdata"]</h2>
<h4>@ViewData["tempdata1"]</h4>
<input id="token" type="hidden" value="@ViewBag.token">
<input id="email" type="hidden" value="@ViewBag.Email">

<section class="log__page__wrapper">
    <div id="divResetPassword">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>Задать новый пароль для пользователя - @ViewBag.ContactName</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-sm-12 col-md-6 input__col">
                    <div class="input__wrapper">
                        <label for="password">Пароль:</label>
                        <input type="password" id="password" placeholder=" " name="Password" required onblur="checkPassword();" autocomplete="off" onfocus="this.removeAttribute('readonly');" readonly>
                        <span class="about-input">
                            Пароль должен содержать от 6 до 24 символов, хотя бы один из которых - цифра
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <span id="needPasswordSpan" class="needFieldSpan">Поле "Пароль" обязательно для заполнения</span>
                    <span id="invalidPasswordSpan" class="invalidFieldSpan">Пароль должен содержать от 6 до 24 символов, хотя бы один из которых - цифра</span>
                    <img id="checkedPasswordIcon" class="checkedFieldIcon" src="/ico/CheckmarkGreen.svg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-sm-12 col-md-6 input__col">
                    <div class="input__wrapper">
                        <label for="passwordRepeat">Повторить пароль:</label>
                        <input type="password" id="repeatPassword" placeholder=" " name="RepeatPassword" required onblur="checkRepeatPassword();" autocomplete="off" onfocus="this.removeAttribute('readonly');" readonly />
                    </div>
                </div>
                <div class="col-md-3">
                    <span id="needRepeatPasswordSpan" class="needFieldSpan">Поле "Повторите пароль" обязательно для заполнения</span>
                    <span id="invalidRepeatPasswordSpan" class="invalidFieldSpan">Пароли должны совпадать</span>
                    <img id="checkedRepeatPasswordIcon" class="checkedFieldIcon" src="/ico/CheckmarkGreen.svg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-sm-12 col-md-6 input__col">
                    <div class="input__wrapper btn__wrapper">
                        <button class="btn btn__register" id="btnResetpassword"> <span>Сменить пароль</span> </button>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>    
</section>

<link href="~/js/jquery-ui/jquery-ui.css?p=202006112" rel="stylesheet" type="text/css" />
<script src="~/js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#btnResetpassword').hide();
    });
    //==   Лучшее решение состоит в том, чтобы создать слушатель события, вместо того, чтобы вставлять обработчик в строку ====== //
    $(function () {
        $("#btnResetpassword").click(function () {
            ResetPassword();
        });
    });
    function checkPassword() {
        var fieldName = $("#password").attr("name");
        if (checkIsNotEmptyAndSetTipVisibility($("#password"))) {
            if ($("#repeatPassword").val().length != 0) {
                checkRepeatPassword();
            }
            var password = $('#password').val();
            var hasDigits = /[0-9]/.test(password);
            if (password.length >= 6 && password.length <= 24 && hasDigits) {
                $('#checked' + fieldName + 'Icon').siblings().hide();
                $('#checked' + fieldName + 'Icon').show();
            }
            else {
                $('#invalidPasswordSpan').show();
            }
            return true;
        }
        else {
            return false;
        }
    };
    function checkRepeatPassword() {
        var fieldName = $("#repeatPassword").attr("name");
        if (checkIsNotEmptyAndSetTipVisibility($("#repeatPassword"))) {
            if ($("#repeatPassword").val() == $("#password").val()) {
                $('#checked' + fieldName + 'Icon').siblings().hide();
                $('#checked' + fieldName + 'Icon').show();
                $('#btnResetpassword').show();
                return true;
            }
            else {
                $("#invalid" + fieldName + "Span").siblings().hide();
                $("#invalid" + fieldName + "Span").show();
                return false;
            }
        }
        else {
            return false;
        }
    };
    function checkIsNotEmptyAndSetTipVisibility(obj) {
        var fieldName = obj.attr("name");
        if (obj.val().length == 0 || !obj.val().match(/[^-_+7()]/g)) {
            $('#need' + fieldName + 'Span').siblings().hide();
            $('#need' + fieldName + 'Span').show();
            return false;
        }
        else {
            $('#need' + fieldName + 'Span').hide();
            return true;
        };
    };
    function checkFields() {
        var inputsValidated = [];
        inputsValidated.push(checkPassword());
        inputsValidated.push(checkRepeatPassword());
        var result = inputsValidated.every(Boolean);
        return result;
    };


    function ResetPassword() {
        if (!checkFields())
            return;



        $.ajax('/User/ResetPassword',
            {
                type: 'POST',
                data: { token: $("#token").val(), newPassword: $("#password").val() },
                success: function () {
                    $('#divResetPassword').hide();
                    alert("Ваш пароль успешно обновлен")
                    window.location.replace('/');
                },
            });
    };
</script>

