@model MContract.Models.LeftMenuViewModel

<div class="col-sm-12 col-md-3 col-lg-3 p-0 only-desktop">
	<section class="lk__wrapper">
		<div class="close__btn-lk"></div>
		<div class="lk__main">
			<div class="lk__main-user">
				<div class="user_img no-photo">
					<img src="@Model.SmallPhotoUrl" alt="">
					
				</div>
				<div class="oo">
					@Model.CompanyNameWithTypeOfOwnership
				</div>
				<div class="rate">
					<span>@Model.Rating</span>
					<div class="ico">
						@Html.Raw(Model.RatingImagesHtml)
					</div>
				</div>
			</div>
			<ul class="lk__main-ul">
				<li class="lk__main-li @Model.ProfileDataSelected">
					<div class="ico">
						<img src="/ico/user.svg" alt="">
					</div>
					<a href="@ViewBag.L.SiteUrlClear/my">Данные профиля</a>
				</li>
				<li class="lk__main-li have-add @Model.MyAdsSelected">
					<div class="ico">
						<img src="/ico/list.svg" alt="">
					</div>
					<a href="@ViewBag.L.SiteUrlClear/User/MyAds">Мои объявления</a>
					<span class="add">(@Model.AdsCount)</span>
				</li>
				<li class="lk__main-li @Model.DealsHistorySelected">
					<div class="ico">
						<img src="/ico/calendar.svg" alt="">
					</div>
					<a href="@ViewBag.L.SiteUrlClear/User/DealsHistory">История сделок</a>
				</li>
				<li class="lk__main-li @Model.FavoritesSelected">
					<div class="ico">
						<img src="/ico/star.svg" alt="">
					</div>
					<a href="@ViewBag.L.SiteUrlClear/User/Favorites">Избранное</a>
				</li>
				<li class="lk__main-li have-message @Model.MessagesSelected">
					<div class="ico">
						<img src="/ico/email.svg" alt="">
					</div>
					<a href="@ViewBag.L.SiteUrlClear/User/Dialogs">Сообщения</a>
					@if (Model.UnreadMessagesCount != 0)
					{
						<span class="count-of-message">@Model.UnreadMessagesCount</span>
					}
				</li>
				<li class="lk__main-li @Model.DraftsSelected">
					<div class="ico">
						<img src="/ico/edit.svg" alt="">
					</div>
					<a href="@ViewBag.L.SiteUrlClear/User/Drafts">Черновики</a>
				</li>
				<li class="lk__main-li @Model.MyOffersSelected">
					<div class="ico">
						<img src="/ico/comment.svg" alt="">
					</div>
					<a href="@ViewBag.L.SiteUrlClear/User/MyOffers">Мои отклики</a>
				</li>
				<li class="lk__main-li @Model.RegularClientsSelected">
					<div class="ico">
						<img src="/ico/contact.svg" alt="">
					</div>
					<a href="@ViewBag.L.SiteUrlClear/User/RegularClients">Постоянные клиенты</a>
				</li>
				<li class="lk__main-li">
					<div class="ico">
						<img src="/ico/logout.svg" alt="">
					</div>
					<a class="lk__main-exit-link" href="@ViewBag.L.SiteUrlClear/User/Logout">Выход</a>
				</li>
			</ul>
		</div>
	</section>
</div>

<div style="display: none">
	<input type="file" name="imageSelect" id="leftMenuImageSelect" accept="image/png, image/jpeg" multiple />
</div>

<script type="text/javascript">
		$(".user_img").click(function () {
            $("#leftMenuImageSelect").trigger("click");
        });
        $("#leftMenuImageSelect").click(function () {
            var input = document.getElementById("leftMenuImageSelect");
            var files = input.files;
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append("file" + i, files[i]);
                }
                data.append('userId', @Model.CurrentUserId);
                /*var newAdPhotoContainer = $(".adPhotosContainer .cloneSource").clone();
                newAdPhotoContainer.removeClass("cloneSource");*/
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadPhoto", "User")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        /*//$('#sendingSpan').hide();
                        if (!result.includes("error")) {
                            result = result.slice(0, -1);
                            splitResult = result.split('|');
                            splitResult.forEach(r => {
                                var splitPhotoInformation = r.split(',');
                                var photoId = splitPhotoInformation[1];
                                var photoUrl = splitPhotoInformation[2];
                                newAdPhotoContainer.find(".adPhoto").attr("id", photoId).attr("style", "background: url(" + photoUrl + ") 50% 50% cover");
                                $(".adPhotosContainer").append(newAdPhotoContainer);
                                newAdPhotoContainer = $(".adPhotosContainer .cloneSource").clone();
                                newAdPhotoContainer.removeClass("cloneSource");
                            });
                            $(".adPhotosContainer").removeClass("isEmpty");
                            let parts = result.split(',');
                            let newFileId = parts[1];
                            let fileName = parts[2];
                            let attachedFileIds = $('#attachedFileIds').val();
                            if (attachedFileIds.length > 0)
                                attachedFileIds += ',';

                            attachedFileIds += newFileId;
                            $('#attachedFileIds').val(attachedFileIds);
                            $('#attachedFilesDiv').show();
                            $('#attachedFilesDiv').append('<p><span>' + fileName + '</span></p>');
                        }
                        else
                            alert(result);*/
                    },
                    error: function (xhr, status, p3) {
                        $('#sendingSpan').hide();
                        alert("Error! " + xhr.responseText);
                    }
                });
            } else {
                alert("Браузер не поддерживает загрузку файлов HTML5! Установите современный браузер.");
            }
            $(this).val(null);
        });
</script>