@model MContract.Models.AdsNewOfferViewModel

@{
    ViewBag.Title = ViewBag.Heading;
    Layout = "~/Views/Shared/_LayoutOld.cshtml";
	var ad = Model.Ad;
}

@section Styles{
    <link href="@Url.Content("~/css/Ads/NewOffer.css")?p=2020-10-10-a" rel="stylesheet" type="text/css" />
    <link href="~/js/jquery-ui/jquery-ui.css" rel="stylesheet" />
}

@if (ad.IsCreateOfferAvailable)
{
	<table class="adDetails">
		<tr>
			<td>
				@(ad.IsBuy ? "Продавец:" : "Покупатель:")
			</td>
			<td class="senderNameContainer">
				@(Model.CurrentUser.CompanyNameWithTypeOfOwnership), @(Model.CurrentUser.TownName)
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				@(ad.IsBuy ? "Город:" : "Место фактического нахождения груза:")
			</td>
			<td>
				<div class="cityContainer">
					<span>@(ad.City?.FullNameAndRegionName)</span>
				</div>
			</td>
		</tr>
		@if (ad.IsBuy)
		{
			<tr class="deliveryAddressRow isBuy">
				<td>
					Адрес поставки товара:
				</td>
				<td>
					<div class="deliveryAddressContainer">
						<span>@ad.DeliveryAddress</span>
					</div>
				</td>
				<td></td>
			</tr>
		}
		<tr>
			<td>
				Условия поставки:
			</td>
			<td class="deliveryTypeContainer">
				<select class="deliveryType">
					<option name="deliveryType" value="0">Не выбрано</option>
					<option name="deliveryType" value="1">Доставка продавцом</option>
					<option name="deliveryType" value="2">Самовывоз покупателем</option>
				</select>
			</td>
			<td class="tipsContainer">
				<span class="requiredFieldMarker">*</span>
				<div class="needContainer deliveryTypeNeedContainer">
					<span>Поле "Условия поставки" обязательно для заполнения</span>
				</div>
				<div class="invalidContainer deliveryTypeInvalidContainer">
					<span>Необходимо выбрать один из вариантов</span>
				</div>
				<div class="checkedContainer deliveryTypeCheckedContainer">
					<img src="/ico/CheckmarkGreen.svg">
				</div>
			</td>
		</tr>
		@if (!ad.IsBuy)
		{
			<tr class="deliveryAddressRow">
				<td>
					Адрес поставки товара:
				</td>
				<td class="deliveryAddressContainer">
					<input type="text" value="@ad.DeliveryAddress" />
				</td>
				<td class="tipsContainer">
					<span class="requiredFieldMarker">*</span>
					<div class="needContainer deliveryAddressNeedContainer">
						<span>Поле "Адрес поставки товара" обязательно для заполнения</span>
					</div>
					<div class="invalidContainer deliveryAddressInvalidContainer">
						<span></span>
					</div>
					<div class="checkedContainer deliveryAddressCheckedContainer">
						<img src="/ico/CheckmarkGreen.svg">
					</div>
				</td>
			</tr>
		}
		<tr>
			<td>
				Погрузка:
			</td>
			<td class="deliveryLoadTypeContainer">
				<select class="deliveryLoadType">
					<option name="deliveryLoadType" value="0">Не выбрано</option>
					<option name="deliveryLoadType" value="1">Силами продавца</option>
					<option name="deliveryLoadType" value="2">Силами покупателя</option>
				</select>
			</td>
			<td class="tipsContainer">
				<span class="requiredFieldMarker">*</span>
				<div class="needContainer deliveryLoadTypeNeedContainer">
					<span>Поле "Погрузка" обязательно для заполнения</span>
				</div>
				<div class="invalidContainer deliveryLoadTypeInvalidContainer">
					<span>Необходимо выбрать один из вариантов</span>
				</div>
				<div class="checkedContainer deliveryLoadTypeCheckedContainer">
					<img src="/ico/CheckmarkGreen.svg">
				</div>
			</td>
		</tr>
		<tr>
			<td>
				Способ доставки:
			</td>
			<td class="deliveryWayContainer">
				<select class="deliveryWay">
					<option name="deliveryWay" value="0">Не выбрано</option>
					<option name="deliveryWay" value="1">Авто</option>
					<option name="deliveryWay" value="2">Ж/Д</option>
				</select>
			</td>
			<td class="tipsContainer">
				<span class="requiredFieldMarker">*</span>
				<div class="needContainer deliveryWayNeedContainer">
					<span>Поле "Способ доставки" обязательно для заполнения</span>
				</div>
				<div class="invalidContainer deliveryWayInvalidContainer">
					<span>Необходимо выбрать один из вариантов</span>
				</div>
				<div class="checkedContainer deliveryWayCheckedContainer">
					<img src="/ico/CheckmarkGreen.svg">
				</div>
			</td>
		</tr>
		<tr>
			<td>
				Цена:
			</td>
			<td class="ndsContainer">
				<select class="Nds">
					<option name="Nds" value="0">Не выбрано</option>
					<option name="Nds" value="1">C НДС</option>
					<option name="Nds" value="2">Без НДС</option>
				</select>
			</td>
			<td class="tipsContainer">
				<span class="requiredFieldMarker">*</span>
				<div class="needContainer ndsNeedContainer">
					<span>Поле "НДС" обязательно для заполнения</span>
				</div>
				<div class="invalidContainer ndsInvalidContainer">
					<span>Необходимо выбрать один из вариантов</span>
				</div>
				<div class="checkedContainer ndsCheckedContainer">
					<img src="/ico/CheckmarkGreen.svg">
				</div>
			</td>
		</tr>
		<tr>
			<td>
				Условия оплаты:
			</td>
			<td class="termsOfPaymentsContainer">
				<select>
					<option value="0">Не выбрано</option>
					<option value="1">Отсрочка платежа</option>
					<option value="2">100% предоплата</option>
					<option value="3">Частичная предоплата</option>
					<option value="4">По факту поставки</option>
				</select>
			</td>
			<td class="tipsContainer">
				<span class="requiredFieldMarker">*</span>
				<div class="needContainer termsOfPaymentsNeedContainer">
					<span>Поле "Условия оплаты" обязательно для заполнения</span>
				</div>
				<div class="invalidContainer termsOfPaymentsInvalidContainer">
					<span>Необходимо выбрать один из вариантов</span>
				</div>
				<div class="checkedContainer termsOfPaymentsCheckedContainer">
					<img src="/ico/CheckmarkGreen.svg">
				</div>
			</td>
		</tr>
		<tr class="defermentPeriodRow">
			<td>
				Максимальный срок оплаты:
			</td>
			<td class="defermentPeriodContainer">
				<input type="tel" value="@ad.DefermentPeriod" /> дней
			</td>
			<td class="tipsContainer">
				<span class="requiredFieldMarker">*</span>
				<div class="needContainer defermentPeriodNeedContainer">
					<span>Поле "Максимальный срок оплаты" обязательно для заполнения</span>
				</div>
				<div class="invalidContainer defermentPeriodInvalidContainer">
					<span>Поле "Максимальный срок оплаты" должно содержать число</span>
				</div>
				<div class="checkedContainer defermentPeriodCheckedContainer">
					<img src="/ico/CheckmarkGreen.svg">
				</div>
			</td>
		</tr>
		<tr>
			<td>
				Подача предложений по части позиций:
			</td>
			<td class="partOffersAllowedContainer">
				<input type="checkbox" name="partOffersAllowed" id="partOffersAllowed" value="1" @(ad.PartOffersAllowed ? "checked" : "") />
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				Ценовое предложение действительно до:
			</td>
			<td class="activeUntilDateContainer">
				<input /> 23:59 МСК
			</td>
			<td class="tipsContainer">
				<span class="requiredFieldMarker">*</span>
				<div class="needContainer defermentPeriodNeedContainer">
					<span>Поле "Ценовое предложение действительно до" обязательно для заполнения</span>
				</div>
				<div class="invalidContainer defermentPeriodInvalidContainer">
					<span>Поле "Ценовое предложение действительно до" должно содержать дату</span>
				</div>
				<div class="checkedContainer defermentPeriodCheckedContainer">
					<img src="/ico/CheckmarkGreen.svg">
				</div>
			</td>
		</tr>
	</table>

	<table class="productDetails">
		<tr>
			<td>
				№
			</td>
			<td>
				Категория товара
			</td>
			@if (ad.Products.Any(Product => !string.IsNullOrEmpty(Product.Name)))
			{
				<td>
					Точное наименование
				</td>
			}
			<td>
				Вес (тн.)
			</td>
			<td>
				Валюта
			</td>
			@if (ad.Products.Any(Product => Product.PricePerWeight != 0))
			{
				<td>
					Цена за 1 тн.<br />
					@(ad.IsBuy ? "(максимальная)" : "(минимальная)")
				</td>
			}
			<td>
				Цена за 1 тн.<br />
				(предложение)
			</td>
		</tr>
		@{ var i = 1; }
		@foreach (var product in ad.Products)
		{
			<tr>
				<td class="productNumber">
					@i
				</td>
				<td class="productId" style="display:none">@product.Id</td>
				<td class="categoryContainer">@product.ProductCategoryName</td>
				@if (!string.IsNullOrEmpty(product.Name))
				{
					<td class="specificCategoryContainer">
						<span>@product.Name</span>
					</td>
				}
				else if (ad.Products.Any(Product => !string.IsNullOrEmpty(Product.Name)))
				{
					<td></td>
				}
				<td class="weightContainer">
					<span>@product.Weight.ToString("G")</span>
				</td>
				<td class="currencyContainer">
					<select class="currency@(i - 1)">
						<option name="currency@(i - 1)" value="@((int)MContract.Models.Enums.Currencies.Rouble)">Рубли</option>
						<option name="currency@(i - 1)" value="@((int)MContract.Models.Enums.Currencies.Dollar)">Доллары</option>
					</select>
				</td>
				@if (product.PricePerWeight != 0)
				{
					<td class="pricePerWeightOriginalContainer">
						<span>@product.PricePerWeight</span>
					</td>
				}
				else if (ad.Products.Any(Product => Product.PricePerWeight != 0))
				{
					<td></td>
				}
				<td class="pricePerWeightContainer">
					<input type="tel" value="" />
				</td>
			</tr>
			<tr class="tipsRow">
				<td></td>
				<td class="tipsContainer">
					<div class="needContainer pricePerWeightNeedContainer">
						<span>Необходимо указать предлагаемую цену за тн. товара</span>
					</div>
					<div class="invalidContainer pricePerWeightInvalidContainer">
						@if (ad.IsBuy)
						{
							<span>Предлагаемая цена за тн. товара не может быть выше максимальной цены, установленной покупателем</span>
						}
						else
						{
							<span>Предлагаемая цена за тн. товара не может быть ниже минимальной цены, установленной продавцом</span>
						}
					</div>
				</td>
			</tr>
			i++;
		}
		<tr class="tipsRow">
			<td></td>
			<td class="tipsContainer">
				<div class="needContainer productsSelectedNeedContainer">
					<span>Необходимо выбрать хотя бы один товар</span>
				</div>
			</td>
		</tr>
	</table>

	<div class="commentContainer">
		Комментарий:<br />
		<textarea class="comment"></textarea>
	</div>

	<button class="sendOffer btn btn-primary" type="submit">Отправить предложение</button>
	<div class="offerSentMessageContainer">
		<img src="/ico/CheckmarkGreen.svg" />
		<div class="messageTextContainer">
			<h3>Ваше предложение отправлено.</h3>
			<h3 class="messageCountdown"></h3>
			<h3>Вы можете просмотреть и отредактировать свое предложение в меню "Мои отклики".</h3>
		</div>
	</div>

	<button class="sendMessage btn btn-secondary" type="submit">Отправить личное сообщение</button>

	if (!string.IsNullOrEmpty(ad.Description))
	{
		<div class="adDescriptionContainer">
			Описание <button class="adDescriptionToggle expand">v</button><br />
			<p class="adDescription">@ad.Description</p>
		</div>
	}

	<span>Фотографии </span>
	<button class="adPhotosToggle expand">v</button>
	<div class="adPhotosContainer">
		@if (!ad.Photos.Any())
		{
			@:Нет фотографий
		}
		else
		{
			var requiredDimension = 200;
			foreach (var photoId in ad.Photos.GroupBy(p => p.GroupId.ToString()).Select(g => g.FirstOrDefault().Id))
			{
				var bestFitPhoto = ad.GetBestFitPhotoFromPhotoId(photoId, requiredDimension);
				var originalPhoto = ad.GetOriginalPhotoFromPhotoId(photoId);
				<div style="background: url(@bestFitPhoto.Url) 50% 50% no-repeat; background-size: 100% 100%;" data-url="@originalPhoto.Url" class="adPhoto" id="@bestFitPhoto.GroupId"></div>
			}
		}
	</div>
}
else
{
	<h2>@ad.CreateOfferNotAvailableMessage</h2>
}

<script src="~/js/user/viewImage.js?p=202006112" type="text/javascript"></script>
<script src="~/js/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var isBuy = Boolean(@ad.IsBuy.ToString().ToLower());
        var partOffersAllowed = Boolean(@ad.PartOffersAllowed.ToString().ToLower());
        $(".offerSentMessageContainer").hide();
        $(".adPhotosContainer").hide();
        $(".activeUntilDateContainer input").datepicker({
            dateFormat: "dd.mm.yy",
            minDate: 0
        });
        function recolorAdDetailsTrs() {
            var i = 0;
            $(".adDetails tr:visible").each(function () {
                if (i % 2 == 0) {
                    //$(this).children().not(":last").css("background-color", "whitesmoke");
                    $(this).children().not(":last").css("background-color", "ghostwhite");
                } else {
                    $(this).children().not(":last").css("background-color", "ghostwhite");
                }
                i++;
            });
        }
        recolorAdDetailsTrs();

        var curContainer = $(".deliveryTypeContainer");
        $(curContainer).find("option[value='" + @Convert.ToInt32(ad.DeliveryType) + "']").prop("selected", true);
        if (@Convert.ToInt32(ad.DeliveryType) != 0) {
            $(curContainer).find("select").prop("disabled", true);
            $(curContainer).find("select").css("display", "none");
            $(curContainer).prepend($(curContainer).find("option:selected").html());
        } else {
            $(curContainer).find("option[value='0']").prop("disabled", true);
        }
        $(".deliveryTypeContainer select").on("change", function () {
            if ($(this).find("option:selected").val() == 1) {
                $(this).closest("tr").siblings(".deliveryAddressRow:not(.isBuy)").show();
            } else {
                $(this).closest("tr").siblings(".deliveryAddressRow:not(.isBuy)").hide();
            }
            recolorAdDetailsTrs();
        });
        curContainer = $(".deliveryLoadTypeContainer");
        $(curContainer).find("option[value='" + @Convert.ToInt32(ad.DeliveryLoadType) + "']").prop("selected", true);
        if (@Convert.ToInt32(ad.DeliveryLoadType) != 0) {
            $(curContainer).find("select").prop("disabled", true);
            $(curContainer).find("select").css("display", "none");
            $(curContainer).prepend($(curContainer).find("option:selected").html());
        } else {
            $(curContainer).find("option[value='0']").prop("disabled", true);
        }
        curContainer = $(".deliveryWayContainer");
        $(curContainer).find("option[value='" + @Convert.ToInt32(ad.DeliveryWay) + "']").prop("selected", true);
        if (@Convert.ToInt32(ad.DeliveryWay) != 0) {
            $(curContainer).find("select").prop("disabled", true);
            $(curContainer).find("select").css("display", "none");
            $(curContainer).prepend($(curContainer).find("option:selected").html());
        } else {
            $(curContainer).find("option[value='0']").prop("disabled", true);
        }
        curContainer = $(".ndsContainer");
        $(curContainer).find("option[value='" + @Convert.ToInt32(ad.Nds) + "']").prop("selected", true);
        if (@Convert.ToInt32(ad.Nds) != 0) {
            $(curContainer).find("select").prop("disabled", true);
            $(curContainer).find("select").css("display", "none");
            $(curContainer).prepend($(curContainer).find("option:selected").html());
        } else {
            $(curContainer).find("option[value='0']").prop("disabled", true);
        }
        curContainer = $(".termsOfPaymentsContainer");
        $(curContainer).find("option[value='" + @Convert.ToInt32(ad.TermsOfPayments) + "']").prop("selected", true);
        if (@Convert.ToInt32(ad.TermsOfPayments) != 0) {
            $(curContainer).find("select").prop("disabled", true);
            $(curContainer).find("select").css("display", "none");
            $(curContainer).prepend($(curContainer).find("option:selected").html());
        } else {
            $(curContainer).find("option[value='0']").prop("disabled", true);
        }
        $(".termsOfPaymentsContainer select").on("change", function () {
            if ($(this).find("option:selected").val() == 1) {
                $(this).closest("tr").siblings(".defermentPeriodRow").show();
            } else {
                $(this).closest("tr").siblings(".defermentPeriodRow").hide();
            }
            recolorAdDetailsTrs();
        });
        $(".deliveryTypeContainer, .termsOfPaymentsContainer").find("select").trigger("change");
        if ($(".defermentPeriodContainer input").val().length != 0) {
            $(".defermentPeriodContainer").prepend($(".defermentPeriodContainer input").val());
            $(".defermentPeriodContainer input").hide();
        }
        $(".adDetails .partOffersAllowedContainer").find("input[value=@Convert.ToInt32(ad.PartOffersAllowed)]").prop("checked", true);
        $(".adDetails .partOffersAllowedContainer").find("input").prop("disabled", true);
        var currencies = @Html.Raw(Json.Encode(ad.Products.Select(Product => (int)Product.Currency).ToList()));
        var i = 0;
        $(".productDetails .productNumber").closest("tr").each(function () {
            $(this).find(".currencyContainer").find("option[value='" + currencies[i] + "']").prop("selected", true);
            $(this).find(".currencyContainer").prepend($(this).find(".currencyContainer option:selected").html());
            $(this).find(".currencyContainer select").css("display", "none");
            i++;
        });

        if ($(".partOffersAllowedContainer input:checked").length != 0) {
            $(".productDetails .pricePerWeightContainer input").keyup(function () {
                if ($(this).val().length == 0) {
                    if ($(this).closest("tr")[0].hasAttribute("data-last-color")) {
                        $(this).closest("tr").css("background-color", $(this).closest("tr").attr("data-last-color"));
                        $(this).closest("tr").removeAttr("data-last-color");
                    }
                    $(this).closest("tr").css("opacity", "0.75");
                    $(this).closest("tr").next(".tipsRow").hide();
                    $(this).closest("tr").next(".tipsRow").children(".tipsContainer").children().hide();
                } else {
                    $(this).closest("tr").css("opacity", "");
                }
            });
            $(".productDetails .pricePerWeightContainer input").trigger("keyup");
        }

        $(".productNumber").each(function () {
            if ($(this).html() % 2 == 0) {
                //$(this).closest("tr").css("background-color", "whitesmoke");
                $(this).closest("tr").css("background-color", "ghostwhite");
            } else {
                $(this).closest("tr").css("background-color", "ghostwhite");
            }
        });

        $("body").on("keyup", ".productDetails .pricePerWeightContainer input", function () {
            var regex = /^([0-9]*[\.,]?[0-9]*)$/;
            if (!regex.test($(this).val())) {
                alert("Недопустимые символы в поле \"Цена\"");
            }
        });

        $(".defermentPeriodContainer input").on("keyup", function () {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });

        var colspan = $(".productDetails tr").first().children().length - 1;
        $(".productDetails .tipsRow .tipsContainer").attr("colspan", colspan);
        $(".adDescriptionToggle").click(function () {
            if ($(this).hasClass("expand")) {
                $(this).siblings(".adDescription").css("display", "initial");
                $(this).removeClass("expand").addClass("contract");
                $(this).html("-");
            } else {
                $(this).siblings(".adDescription").css("display", "");
                $(this).removeClass("contract").addClass("expand");
                $(this).html("v");
            }
        });

        $(".adPhotosToggle").click(function () {
            if ($(this).hasClass("expand")) {
                $(this).siblings(".adPhotosContainer").css("display", "flex");
                $(this).removeClass("expand").addClass("contract");
                $(this).html("-");
            } else {
                $(this).siblings(".adPhotosContainer").css("display", "none");
                $(this).removeClass("contract").addClass("expand");
                $(this).html("v");
            }
        });
        prepareImageViewElements();
        $(".adPhotosContainer").on("click", ".adPhoto", function () {
            showImageView($(this));
        });

        function checkDeliveryType(obj) {
            if ($(obj).find("option:selected").val() != 0) {
                $(obj).siblings(".tipsContainer").find(".checkedContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".checkedContainer").show();
                return true;
            } else {
                $(obj).siblings(".tipsContainer").find(".needContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".needContainer").show();
                return false;
            }
        }

        function checkDeliveryAddress(obj) {
            if ($(obj).find("input").val() != "") {
                $(obj).siblings(".tipsContainer").find(".checkedContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".checkedContainer").show();
                return true;
            } else {
                $(obj).siblings(".tipsContainer").find(".needContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".needContainer").show();
                return false;
            }
        }

        function checkDeliveryLoadType(obj) {
            if ($(obj).find("option:selected").val() != 0) {
                $(obj).siblings(".tipsContainer").find(".checkedContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".checkedContainer").show();
                return true;
            } else {
                $(obj).siblings(".tipsContainer").find(".needContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".needContainer").show();
                return false;
            }
        }

        function checkDeliveryWay(obj) {
            if ($(obj).find("option:selected").val() != 0) {
                $(obj).siblings(".tipsContainer").find(".checkedContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".checkedContainer").show();
                return true;
            } else {
                $(obj).siblings(".tipsContainer").find(".needContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".needContainer").show();
                return false;
            }
        }

        function checkNds(obj) {
            if ($(obj).find("option:selected").val() != 0) {
                $(obj).siblings(".tipsContainer").find(".checkedContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".checkedContainer").show();
                return true;
            } else {
                $(obj).siblings(".tipsContainer").find(".needContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".needContainer").show();
                return false;
            }
        }

        function checkTermsOfPayments(obj) {
            if ($(obj).find("option:selected").val() != 0) {
                $(obj).siblings(".tipsContainer").find(".checkedContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".checkedContainer").show();
                return true;
            } else {
                $(obj).siblings(".tipsContainer").find(".needContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".needContainer").show();
                return false;
            }
        }

        function checkDefermentPeriod(obj) {
            if ($(obj).find("input").val().length == 0) {
                $(obj).siblings(".tipsContainer").find(".needContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".needContainer").show();
                return false;
            } else if (Number($(obj).find("input").val()) % 1 != 0) {
                $(obj).siblings(".tipsContainer").find(".invalidContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".invalidContainer").show();
                return false;
            } else {
                $(obj).siblings(".tipsContainer").find(".checkedContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".checkedContainer").show();
                return true;
            }
        }

        function checkActiveUntilDate(obj) {
            if ($(obj).find("input").val().length == 0) {
                $(obj).siblings(".tipsContainer").find(".needContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".needContainer").show();
                return false;
            }/* else if (!$.isNumeric($(obj).find("input").val())) {
                $(obj).siblings(".tipsContainer").find(".invalidContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".invalidContainer").show();
                return false;
            }*/ else {
                $(obj).siblings(".tipsContainer").find(".checkedContainer").siblings("div").hide();
                $(obj).siblings(".tipsContainer").find(".checkedContainer").show();
                return true;
            }
        }

        function checkProductsAndPrices(obj) {
            var input;
            if (partOffersAllowed == false) {
                input = $(".pricePerWeightContainer input");
            } else {
                input = $(".productDetails .pricePerWeightContainer input").filter(function () { return this.value });
                if (input.length == 0) {
                    $(obj).find(".tipsRow").hide();
                    $(obj).find(".tipsRow").children(".tipsContainer").children().hide;
                    $(obj).find(".tipsRow").last().show();
                    $(obj).find(".tipsRow").last().find(".needContainer").show();
                    return false;
                }
                $(obj).find(".tipsRow").last().hide();
                $(obj).find(".tipsRow").last().find(".needContainer").hide();
            }
            var isPriceEntered = $.map($(obj).find(input), function (input) {
                var row = $(input).closest("tr");
                var regex = /^([0-9]*[\.,]?[0-9]*)$/;
                var pricePerWeightVal = $(input).val();
                var originalPricePerWeight = $(row).find(".pricePerWeightOriginalContainer span").html();
                if (!pricePerWeightVal && !partOffersAllowed) {
                    $(row).css("border-bottom", "0");
                    $(row).next(".tipsRow").css("border-top", "0");
                    $(row).next(".tipsRow").show();
                    $(row).next(".tipsRow").children(".tipsContainer").children().hide();
                    $(row).next(".tipsRow").find(".needContainer").show();
                    return false;
                } else if (!regex.test(pricePerWeightVal)) {
                    alert("Недопустимые символы в поле \"Цена\"");
                    return false;
                } else if (originalPricePerWeight && ((parseFloat(pricePerWeightVal.replace(",", ".")) > parseFloat(originalPricePerWeight.replace(",", ".")) && isBuy) || (parseFloat(pricePerWeightVal.replace(",", ".")) < parseFloat(originalPricePerWeight.replace(",", ".")) && !isBuy))) {
                    if (partOffersAllowed) {
                        if (!$(row)[0].hasAttribute("data-last-color")) {
                            $(row).attr("data-last-color", $(row).css("background-color"));
                        }
                        $(row).css("background-color", "floralwhite");
                    } else {
                        $(row).next(".tipsRow").css("background-color", $(row).css("background-color"));
                    }
                    $(row).css("border-bottom", "0");
                    $(row).next(".tipsRow").css("border-top", "0");
                    $(row).next(".tipsRow").show();
                    $(row).next(".tipsRow").children(".tipsContainer").children().hide();
                    $(row).next(".tipsRow").find(".invalidContainer").show();
                    return false;
                }  else {
                    if (partOffersAllowed) {
                        $(row).css("background-color", $(row).attr("data-last-color"));
                        $(row).removeAttr("data-last-color");
                    }
                    $(row).css("border-bottom", "");
                    $(row).next(".tipsRow").css("border-top", "");
                    $(row).next(".tipsRow").hide();
                    $(row).next(".tipsRow").children(".tipsContainer").children().hide();
                    return true;
                }
            });
            return isPriceEntered.every(Boolean);
        }

        $(".sendOffer").click(function () {
            var fieldsValidated = [];
            fieldsValidated.push(checkDeliveryType($(".adDetails .deliveryTypeContainer")));
            if ($(".adDetails .deliveryAddressRow").is(":visible")) {
                fieldsValidated.push(checkDeliveryAddress($(".adDetails .deliveryAddressContainer")));
            }
            fieldsValidated.push(checkDeliveryLoadType($(".adDetails .deliveryLoadTypeContainer")));
            fieldsValidated.push(checkDeliveryWay($(".adDetails .deliveryWayContainer")));
            fieldsValidated.push(checkNds($(".adDetails .ndsContainer")));
            fieldsValidated.push(checkTermsOfPayments($(".adDetails .termsOfPaymentsContainer")));
            if ($(".adDetails .defermentPeriodRow").is(":visible")) {
                fieldsValidated.push(checkDefermentPeriod($(".adDetails .defermentPeriodContainer")));
            }
            fieldsValidated.push(checkActiveUntilDate($(".adDetails .activeUntilDateContainer")));
            fieldsValidated.push(checkProductsAndPrices($(".productDetails")));
            if (fieldsValidated.every(Boolean)) {
                var offerSenderId = parseInt(@(ad.CurrentUserId));
                var offerAdId = parseInt(@ad.Id);
                var offerCityId = parseInt(@ad.CityId);
                var offerProductsId = [];
                var offerProductsPricePerWeight = [];
                if (partOffersAllowed) {
                    $(".productDetails .productNumber").closest("tr").each(function () {
                        if ($(this).find(".pricePerWeightContainer input").val().length != 0) {
                            offerProductsId.push($(this).find(".productId").html());
                            offerProductsPricePerWeight.push($(this).find(".pricePerWeightContainer input").val().replace(".", ","));
                        }
                    });
                } else {
                    $(".productDetails .productNumber").closest("tr").each(function () {
                        offerProductsId.push($(this).find(".productId").html());
                        offerProductsPricePerWeight.push($(this).find(".pricePerWeightContainer input").val().replace(".", ","));
                    });
                }
                var offerDeliveryType = $(".adDetails .deliveryTypeContainer select").val();
                var offerDeliveryAddress;
                if (isBuy) {
                    offerDeliveryAddress = "@(ad.DeliveryAddress != null ? @ad.DeliveryAddress : "")";
                } else {
                    if ($(".adDetails .deliveryAddressContainer input").val().length != 0) {
                        offerDeliveryAddress = $(".adDetails .deliveryAddressContainer input").val();
                    }
                }
                var offerDeliveryLoadType = $(".adDetails .deliveryLoadTypeContainer select").val();
                var offerDeliveryWay = $(".adDetails .deliveryTypeContainer select").val();
                var offerNds = $(".adDetails .ndsContainer select").val();
                var offerTermsOfPayments = $(".adDetails .termsOfPaymentsContainer select").val();
                var offerDefermentPeriod;
                if ($(".adDetails .defermentPeriodContainer input").val().length != 0) {
                    offerDefermentPeriod = $(".adDetails .defermentPeriodContainer input").val();
                }
                var offerActiveUntilDate = $(".adDetails .activeUntilDateContainer input").val();
                var comment = $(".commentContainer textarea").val();
                var products;
                if (partOffersAllowed) {
                    products = $(".productDetails .pricePerWeightContainer input").filter(function () { return this.value }).closest("tr");
                } else {
                    products = $(".pricePerWeightContainer input").closest("tr");
                }
                class ProductOffer {
                    constructor(productId, pricePerWeight) {
                        this.ProductId = productId;
                        this.PricePerWeight = pricePerWeight;
                    }
                };
                var offerProductOffers = [];
                $(products).each(function () {
                    var productId = $(this).find(".productId").html();
                    var pricePerWeight = $(this).find(".pricePerWeightContainer input").val();
                    offerProductOffers.push(new ProductOffer(productId, pricePerWeight));
                });
                $.post("@ViewBag.L.SiteUrlClear/Ads/NewOffer", {
                    SenderId: offerSenderId,
                    AdId: offerAdId,
                    ProductOffers: offerProductOffers,
                    CityId: offerCityId,
                    DeliveryType: offerDeliveryType,
                    DeliveryAddress: offerDeliveryAddress,
                    DeliveryLoadType: offerDeliveryLoadType,
                    DeliveryWay: offerDeliveryWay,
                    TermsOfPayments: offerTermsOfPayments,
                    DefermentPeriod: offerDefermentPeriod,
                    Nds: offerNds,
                    ActiveUntilDate: offerActiveUntilDate,
                    Comment: comment
                }).done(function (result) {
                    if (!result.startsWith("@ViewBag.L.SiteUrlClear")) {
                        alert(result);
                        return;
                    }
                    $(".sendOffer").remove();
                    $(".offerSentMessageContainer").css("display", "flex");
                    var countdownMessage = "Через 5 секунд вы будете перенаправлены в личный кабинет...";
                    $(".offerSentMessageContainer .messageCountdown").html(countdownMessage);
                    var i = 4;
                    var interval = setInterval(function () {
                        countdownMessage = "Через ";
                        countdownMessage += i;
                        switch (i) {
                            case 0:
                                countdownMessage += " секунд";
                                break;
                            case 1:
                                countdownMessage += " секунду";
                                break;
                            case 2:
                            case 3:
                            case 4:
                                countdownMessage += " секунды";
                                break;
                            default:
                                countdownMessage += " сек."
                                break;
                        }
                        countdownMessage += " вы будете перенаправлены в личный кабинет...";
                        $(".offerSentMessageContainer .messageCountdown").html(countdownMessage);
                        if (i == 0) {
                            location.href = "@ViewBag.L.SiteUrlClear/User/MyProfile";
                            clearInterval(interval);
                        }
                        i--;
                    }, 1000);
                    (async function () {
                        await new Promise(r => setTimeout(r, 1000));
                    })();
                });
            } else {
                return false;
            }
        });

        $(".sendMessage").click(function () {
            var offerSenderId = parseInt(@(ad.CurrentUserId));
            var offerAdId = parseInt(@ad.Id);
            var offerProductsId = [];
            var offerProductsPricePerWeight = [];
            if (partOffersAllowed) {
                $(".productDetails .productNumber").closest("tr").each(function () {
                    if ($(this).find(".pricePerWeightContainer input").val().length != 0) {
                        offerProductsId.push($(this).find(".productId").html());
                        offerProductsPricePerWeight.push($(this).find(".pricePerWeightContainer input").val().replace(".", ","));
                    }
                });
            } else {
                $(".productDetails .productNumber").closest("tr").each(function () {
                    offerProductsId.push($(this).find(".productId").html());
                    offerProductsPricePerWeight.push($(this).find(".pricePerWeightContainer input").val().replace(".", ","));
                });
            }
            var offerCityId = parseInt(@ad.CityId);
            var offerDeliveryType = $(".adDetails .deliveryTypeContainer select").val();
            var offerDeliveryAddress;
            if (isBuy) {
                offerDeliveryAddress = "@(ad.DeliveryAddress != null ? ad.DeliveryAddress : "")";
            } else {
                if ($(".adDetails .deliveryAddressContainer input").val().length != 0) {
                    offerDeliveryAddress = $(".adDetails .deliveryAddressContainer input").val();
                }
            }
            var offerDeliveryLoadType = $(".adDetails .deliveryLoadTypeContainer select").val();
            var offerDeliveryWay = $(".adDetails .deliveryTypeContainer select").val();
            var offerNds = $(".adDetails .ndsContainer select").val();
            var offerTermsOfPayments = $(".adDetails .termsOfPaymentsContainer select").val();
            var offerDefermentPeriod;
            if ($(".adDetails .defermentPeriodContainer input").val().length != 0) {
                offerDefermentPeriod = $(".adDetails .defermentPeriodContainer input").val();
            }
            var offerActiveUntilDate = $(".adDetails .activeUntilDateContainer input").val();
            var comment = $(".commentContainer textarea").val();
            var products;
            if (partOffersAllowed) {
                products = $(".productDetails .pricePerWeightContainer input").filter(function () { return this.value }).closest("tr");
            } else {
                products = $(".pricePerWeightContainer input").closest("tr");
            }
            class ProductOffer {
                constructor(productId, pricePerWeight) {
                    this.ProductId = productId;
                    this.PricePerWeight = pricePerWeight;
                }
            };
            var offerProductOffers = [];
            $(products).each(function () {
                var productId = parseInt($(this).find(".productId").html());
                var pricePerWeight = $(this).find(".pricePerWeightContainer input").val();
                offerProductOffers.push(new ProductOffer(productId, pricePerWeight));
            });
            $.post("@ViewBag.L.SiteUrlClear/Ads/SaveDraftOffer", {
                SenderId: offerSenderId,
                AdId: offerAdId,
                ProductOffers: offerProductOffers,
                CityId: offerCityId,
                DeliveryType: offerDeliveryType,
                DeliveryAddress: offerDeliveryAddress,
                DeliveryLoadType: offerDeliveryLoadType,
                DeliveryWay: offerDeliveryWay,
                TermsOfPayments: offerTermsOfPayments,
                DefermentPeriod: offerDefermentPeriod,
                Nds: offerNds,
                ActiveUntilDate: offerActiveUntilDate,
                Comment: comment
            }, function () {
                var thisPageUrl = encodeURIComponent(location.href);
                location.href = `@ViewBag.L.SiteUrlClear/User/Messages?respondentId=@ad.SenderId&lastPageUrl=${thisPageUrl}`;
            });
        });
    });
</script>